sudo: false
language: python
python:
   - "3.5"
before_install:
   - curl -L -o lorax_tool https://raw.githubusercontent.com/LegumeFederation/lorax/master/build_scripts/lorax_tool.sh
   - chmod 755 lorax_tool
   - ./lorax_tool create_scripts
   - ./lorax_tool init
   - export root_dir="$(python -c 'import sys;print(sys.prefix)')"
   - ./lorax_tool config root_dir $root_dir
   - ./lorax_tool config var_dir ${root_dir}/var
   - ./lorax_tool config tmp_dir ${root_dir}/var/tmp
   - ./lorax_tool config log_dir ${root_dir}/var/log
   - ./lorax_tool config python system
   - ./lorax_tool config raxml system
   - ./lorax_tool config redis system
   - ./lorax_tool config all
   - ./lorax_tool make_dirs
   - ./lorax_tool install
install:
   - pip install -U setuptools
   - pip install -e 'git+https://github.com/LegumeFederation/supervisor.git@4.0.0#egg=supervisor==4.0.0'
   - pip install -e .
before_script:
   - lorax_env coverage run -m lorax.cli
   - export COVERAGE_PROCESS_START="${PWD}/.coveragerc"
   - lorax_env lorax config secret_key
   - lorax_env lorax config secret_key blahblahblah
   - lorax_env lorax config
   - lorax_env lorax create_instance
   - lorax_env lorax set_htpasswd
   - lorax_env lorax create_test_files
script:
   - lorax_env -v start
   - lorax_env lorax rq info
   - cat ${root_dir}/var/log/lorax_server.log
   - ./test_targets.sh
   - lorax_env stop
after_success:
   - lorax_env lorax test_logging
   - lorax_env lorax config blah Bob_LobLaw
   - lorax_env lorax config --vartype=list mylist "[1,2,3]"
   - lorax_env lorax config var /tmp/loraxvar
   - export LORAX_SUPERVISORD_START_SERVER=True
   - lorax_env lorax config supervisord_start_nginx False
   - export LORAX_SUPERVISORD_START_SERVER=False
   - lorax_env lorax config gunicorn_unix_socket False
   - lorax_env lorax config nginx_unix_socket True
   - lorax_env lorax create_instance --force
   - lorax_env lorax set_htpasswd --force
   - lorax_env lorax config --delete
   - coverage combine
   - cp /tmp/.coverage .
   - bash <(curl -s https://codecov.io/bash) -X gcov
