include *.txt
include INSTALL.*
include lorax/fasttree/ChangeLog.txt
include lorax/fasttree/FastTree-2.1.10.c
include lorax/fasttree/LICENSE.txt
include lorax/fasttree/README.txt
include lorax/bin/run_in_lorax.env
recursive-include lorax/instance *
recursive-include lorax/test *
recursive-include lorax/static *
recursive-include lorax/templates *
prune FastTree-lorax
prune lorax/test/data
prune lorax/test/logs
