# requirements.in
Flask_RQ2[cli]
biopython
rq-dashboard
gunicorn
raven[flask]
-e git+https://github.com/LegumeFederation/supervisor.git@4.0.0#egg=supervisor==4.0.0
superlance
healthcheck
htpasswd
prometheus_client
coverage
supervisor-wildcards
